* {


margin : 0;
padding: 0;

}


.background-img {



    background-image: url("https://i.imgur.com/rpJGdix.jpg");
}


.my-hub{

background-color: #e2e8f0;


}


@media only screen and (max-width: 768px) {
    

    .text-about-me{

        text-align: center;
    }
  }